<?php

define('MAILHOST', "smtp.gmail.com");
define('USERNAME', "quizstuff@quizstuff.com");
define('PASSWORD', "**********************");
define('SEND_FROM', "quizstuff@quizstuff.com");
define('SEND_FROM_NAME', "Quizstuff");
define('REPLY_TO', "quizstuff@quizstuff.com");
define('REPLY_TO_NAME', "Quizstuff");
?>