{
  "installers": [
    {
      "architecture": "x64",
      "version": "5.4-j30",
      "os": "windows",
      "sha1sum": "fb3935b3e079061de85a000de3de781d6e3a68ad",
      "url": "/installers/QuizMachineInstaller-5.4-j30-x64.exe"
    },
    {
      "architecture": "x86",
      "version": "5.4-j30",
      "os": "windows",
      "sha1sum": "fb3935b3e079061de85a000de3de781d6e3a68ad",
      "url": "/installers/QuizMachineInstaller-5.4-j30-x64.exe"
    },
  ]
}
