:root {
  --font-color: white;
  /*--bg-color: rgb(0, 70, 102);*/
  --bg-color: rgb(13, 18, 28);
  --alt-bg-color: rgb(7, 9, 12);
  --card-bg-color: #171318;
  --site-width: 1000px;
  --ul-height: 18rem;
  --header-height: 3rem;
}

/** Imports **/

/* Fonts */
@font-face {
  font-family: "Lato";
  src: url("./assets/Lato/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf");
  font-weight: bold 700;
}

/** Global Styles **/

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--font-color);
  /* background-image: url("rm218-bb-07.jpg"); */
  background-size: 100% 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2rem;
}

/* Link color reset */
a,
a:active,
a:visited,
a:hover {
  color: currentColor;
}

a:hover,
button:hover {
  opacity: 0.8;
}

button.icon {
  --size: 2rem;

  height: var(--size);
  background: unset;
  border: none;
  cursor: pointer;

  padding: 0;
}

.ham-icon {
  height: inherit;
  stroke: white;
  stroke-width: 10px;
}

.ham-icon,
.ham-icon path {
  transition: transform 200ms ease, stroke-width 100ms ease;
}
.nav-open .ham-icon {
  transform: rotate(-90deg);
}
.nav-open .ham-icon path:first-of-type {
  transform: rotate(45deg) translate(20%, -20%);
}
.nav-open .ham-icon path:nth-of-type(2) {
  stroke-width: 0px !important;
}
.nav-open .ham-icon path:last-of-type {
  transform: rotate(-45deg) translate(-50%, -10%);
}

/* Background canvas */
#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Texture blending */
#canvas:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-image: url("./assets/images/binding-dark.png");
  mix-blend-mode: color-burn;
  opacity: 50%;
  z-index: 0;
}

/* Radial gradients */
[id^="radial-"] {
  position: fixed;
  --size: 100px; /* Default size*/
  width: var(--size);
  height: var(--size);
}

#radial-1 {
  opacity: 0.8;
  --size: 150vh;
  top: -75vh;
  left: -75vh;

  background: radial-gradient(circle, #004b78 5%, transparent 60%);
}

#radial-2 {
  opacity: 0.8;
  --size: 150vh;
  right: -75vh;
  bottom: -75vh;

  background: radial-gradient(circle, #431235 5%, transparent 60%);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 3;
}

header + * {
  padding-top: 1rem;
}

header,
footer {
  color: var(--font-color);
  background-color: var(--alt-bg-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  max-width: var(--site-width);
  padding: 0.5em 10px;
}

.ostrich-icon {
  height: 2.5em;
  fill: red;
  stroke: red;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-right: 1em;
  text-decoration: none;
  margin-right: 0.5em;
}
.logo-container h1 {
  font-size: 2rem;
}

.logo-container h1,
.logo-container h2 {
  margin: 0;
  padding: 0;
}

#header-links {
  display: inline-flex;

  text-decoration: none;
  list-style-type: none;

  gap: 1em;

  margin: 0;
  padding: 0px;
}

#header-links a {
  opacity: 1 !important; /* Shh it's fine */
  text-decoration: none;
  position: relative;
}

/* Animated underline recipe */

@media screen and (min-width: 600px) {
  #header-links a:after {
    position: absolute;
    content: "";
    display: block;
    width: 0%;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    height: 1px;
    transition: width 150ms ease-out;
  }
  #header-links a.current:after,
  #header-links a:hover:after {
    opacity: 1;
    width: 100%;
  }
}

.dropdown {
  position: relative;
}

.dropdown button {
  display: inline-flex;
  align-items: flex-end;
  gap: 5px;
  background: none;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

.dropdown button svg {
  stroke: currentColor;
  height: 1em;
  width: 1em;
  transition: transform 150ms ease-out;
}

.dropdown ul {
  display: none;
  list-style: none;
  position: absolute;

  flex-direction: column;
  gap: 0.5em;
  background-color: var(--alt-bg-color);
  padding: 0.5em;
  z-index: 1;
  width: max-content;
}

.dropdown .open svg {
  transform: scaleY(-1);
}

.dropdown .open + ul {
  display: block;
}

/** Containers **/

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: var(--site-width);
  padding: 30px;
  margin: 40px 10px 0 10px;

  background-color: rgba(0, 0, 0, 0.6);
}

.container-header {
  color: white;
}

.container-text {
  color: white;
}

section img {
  height: 100px;
  margin-bottom: 20px;
}

#HIW {
  margin: 30px 0px;
  height: 200px;
}

@media only screen and (min-width: 500px) {
  .container #HIW {
    height: 300px;
  }
}

@media only screen and (min-width: 800px) {
  .container #HIW {
    height: 400px;
  }
}

button {
  color: currentColor;
}

button,
.button {
  border: solid currentColor 1px;
  background-color: transparent;
  padding: 0.5em 1.2em;
  cursor: pointer;
  text-decoration: none;
}

/** Footer **/

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 5px;
  background-color: var(--alt-bg-color);
}

footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer img {
  height: 50px;
  width: 55px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Forms */
fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

form > fieldset {
  margin-bottom: 1rem;
}

fieldset .full-row {
  width: 100%;
}

legend {
  padding-inline: 0;
  font-size: 1.2rem;
}

/* Label above input */
label.above,
.above label {
  display: inline-grid;
}

.customer-info {
  max-width: 500px;
}

.form--product {
  border: currentColor 1px solid;
}

input,
select {
  background: #ffffff0f;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: inherit;
}

input[type="number"] {
  margin-top: 5px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px currentColor solid;
  text-align: center;
}

/* Hide spinner in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.qty--label {
  display: inline-flex;
  gap: 0.2em;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}

.button--input {
  display: inline-flex;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  line-height: 1px;

  color: var(--card-bg-color);
  background-color: var(--font-color);
  border-color: var(--font-color);
}

option {
  background-color: var(--alt-bg-color);
}

#est-total {
  margin-bottom: 0;
}

#submit-message.success {
  color: greenyellow;
}
#submit-message.failure {
  color: red;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-only {
    display: initial;
  }

  nav {
    justify-content: space-between;
  }

  #header-links-wrapper {
    height: 0;
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    transition: height 150ms ease-out;
    background: var(--alt-bg-color);
    overflow: hidden;
  }

  #header-links {
    width: -moz-available;
    width: fill-available;
    width: -webkit-fill-available;

    flex-direction: column;

    padding: 20px;
    font-size: 1.5rem;
  }

  #header-links a {
    display: inherit;
    width: inherit;
  }

  .nav-open #header-links-wrapper {
    height: 100%;
  }

  #header-links li:not(:has(button)),
  #header-links button {
    /* width: fit-content; */
    border-bottom: 1px solid currentColor;
    padding: 0.5rem;
  }

  .nav-heading {
    border-bottom: solid 1px currentColor;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: inherit;
    opacity: 0.8;
  }

  .dropdown {
    display: inline-flex;
    flex-direction: column;
    gap: 1em;
  }

  /* .dropdown > button {
    display: none;
  } */

  .dropdown ul {
    /* display: initial; */
    position: initial;
    padding: unset;
    width: inherit;
  }
}
