fieldset label {
    margin: 10px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    color: rgb(196, 196, 196);
    font-size: 1rem;
}
fieldset input[type="text"], 
fieldset input[type="number"], 
fieldset input[type="email"], 
fieldset input[type="tel"] {
    width: auto;
    padding: 4px 8px;
}
fieldset select, fieldset select option {
    width: auto;
    padding: 4px 8px;
}
fieldset {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
button {
    padding: 10px 20px;
    background: linear-gradient(15deg, #004b78, #431235); /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin-bottom: 20px;
}
hr {
    border: solid white 1px;
    height: 1px;
    background: white;
    margin: 20px 0;
    width: 60%;
}